We first read the sample file and convert it to json formatWe first read the sample file and convert it to json format

In [14]:
import pandas as pd
ts = pd.read_csv("sample_w6_pos_ac.csv",
                     sep=None,
                     header=0,
                     index_col=0,
                     parse_dates=True,
                     engine='python')
ts = ts[ts.index >= pd.Timestamp("2023-01-01 00:00:00")]
series = ts.to_json()

Then we make the request using the time horizon (n), series in json format (series) and meter_id (meter_id) we want

In [15]:
import requests

from requests_toolbelt.multipart.encoder import MultipartEncoder
input_example = MultipartEncoder(
    fields={"n": "24",
            "series": series,
            "meter_id": "BBB6030",
           }
)

result = requests.post(
    "http://0.0.0.0:3060/predict", data=input_example, headers={"Content-Type": input_example.content_type}
).text

In [16]:
result

'{"Value":{"1675904400000":0.3638424538,"1675905300000":-0.1190072106,"1675906200000":-0.1041763754,"1675907100000":0.6145871932,"1675908000000":0.7578817967,"1675908900000":0.8730756192,"1675909800000":1.0949447101,"1675910700000":1.3033097344,"1675911600000":1.844801875,"1675912500000":2.0764250672,"1675913400000":1.6644903634,"1675914300000":1.9238164433,"1675915200000":2.1408514096,"1675916100000":1.6613821516,"1675917000000":1.888701548,"1675917900000":1.6448235299,"1675918800000":1.4731999299,"1675919700000":1.657272331,"1675920600000":1.4225735764,"1675921500000":0.8991765186,"1675922400000":0.7016099065,"1675923300000":0.6456879482,"1675924200000":0.6583749983,"1675925100000":0.601294868}}'

Finaly we convert the result to pandas format

In [17]:
df = pd.read_json(result)

In [18]:
df

                        Value
2023-02-09 01:00:00  0.363842
2023-02-09 01:15:00 -0.119007
2023-02-09 01:30:00 -0.104176
2023-02-09 01:45:00  0.614587
2023-02-09 02:00:00  0.757882
2023-02-09 02:15:00  0.873076
2023-02-09 02:30:00  1.094945
2023-02-09 02:45:00  1.303310
2023-02-09 03:00:00  1.844802
2023-02-09 03:15:00  2.076425
2023-02-09 03:30:00  1.664490
2023-02-09 03:45:00  1.923816
2023-02-09 04:00:00  2.140851
2023-02-09 04:15:00  1.661382
2023-02-09 04:30:00  1.888702
2023-02-09 04:45:00  1.644824
2023-02-09 05:00:00  1.473200
2023-02-09 05:15:00  1.657272
2023-02-09 05:30:00  1.422574
2023-02-09 05:45:00  0.899177
2023-02-09 06:00:00  0.701610
2023-02-09 06:15:00  0.645688
2023-02-09 06:30:00  0.658375
2023-02-09 06:45:00  0.601295